
.vs
[Dd]ebug/
Source/.vs/EmployeeManagement/v16/.suo
Source/.vs/EmployeeManagement/v16/Browse.VC.db
Source/.vs/EmployeeManagement/v16/Browse.VC.db-shm
Source/.vs/EmployeeManagement/v16/Browse.VC.db-wal
Source/.vs/EmployeeManagement/v16/Browse.VC.opendb
Source/.vs/EmployeeManagement/v16/ipch/7a9904e181032171.ipch
Source/.vs/EmployeeManagement/v16/ipch/9a9b7cef3087d860.ipch
Source/.vs/EmployeeManagement/v16/ipch/AutoPCH/a04db0754538c415/MAIN.ipch
Source/.vs/EmployeeManagement/v16/ipch/AutoPCH/eda38178170a4bf4/USERINTERFACE.ipch
Source/.vs/EmployeeManagement/v16/Solution.VC.db
Source/.vs/EmployeeManagement/v16/Solution.VC.db-shm
Source/.vs/EmployeeManagement/v16/Solution.VC.db-wal
Source/.vs/EmployeeManagement/v16/TestStore/0/000.testlog
Source/.vs/EmployeeManagement/v16/TestStore/0/testlog.manifest
Source/EmployeeManagement/x64/Debug/Condition.obj
Source/EmployeeManagement/x64/Debug/Employee.6634985e.tlog/CL.command.1.tlog
Source/EmployeeManagement/x64/Debug/Employee.6634985e.tlog/CL.read.1.tlog
Source/EmployeeManagement/x64/Debug/Employee.6634985e.tlog/CL.write.1.tlog
Source/EmployeeManagement/x64/Debug/Employee.6634985e.tlog/CopyLocal.read.1u.tlog
Source/EmployeeManagement/x64/Debug/Employee.6634985e.tlog/CopyLocal.write.1u.tlog
Source/EmployeeManagement/x64/Debug/Employee.6634985e.tlog/EmployeeManagement.lastbuildstate
Source/EmployeeManagement/x64/Debug/Employee.6634985e.tlog/link.command.1.tlog
Source/EmployeeManagement/x64/Debug/Employee.6634985e.tlog/link.read.1.tlog
Source/EmployeeManagement/x64/Debug/Employee.6634985e.tlog/link.write.1.tlog
Source/EmployeeManagement/x64/Debug/Employee.obj
Source/EmployeeManagement/x64/Debug/EmployeeManagement.Build.CppClean.log
Source/EmployeeManagement/x64/Debug/EmployeeManagement.exe.recipe
Source/EmployeeManagement/x64/Debug/EmployeeManagement.ilk
Source/EmployeeManagement/x64/Debug/EmployeeManagement.log
Source/EmployeeManagement/x64/Debug/EmployeeManagement.obj
Source/EmployeeManagement/x64/Debug/EmployeeManagement.vcxproj.CopyComplete
Source/EmployeeManagement/x64/Debug/EmployeeManagement.vcxproj.FileListAbsolute.txt
Source/EmployeeManagement/x64/Debug/main.obj
Source/EmployeeManagement/x64/Debug/UserInterface.obj
Source/EmployeeManagement/x64/Debug/vc142.idb
Source/EmployeeManagement/x64/Debug/vc142.pdb
Source/EmployeeManagementTest/EmployeeManagementTest.vcxproj
Source/EmployeeManagementTest/x64/Debug/Employee.44630693.tlog/CL.command.1.tlog
Source/EmployeeManagementTest/x64/Debug/Employee.44630693.tlog/CL.read.1.tlog
Source/EmployeeManagementTest/x64/Debug/Employee.44630693.tlog/CL.write.1.tlog
Source/EmployeeManagementTest/x64/Debug/Employee.44630693.tlog/CopyLocal.read.1u.tlog
Source/EmployeeManagementTest/x64/Debug/Employee.44630693.tlog/CopyLocal.write.1u.tlog
Source/EmployeeManagementTest/x64/Debug/Employee.44630693.tlog/EmployeeManagementTest.lastbuildstate
Source/EmployeeManagementTest/x64/Debug/Employee.44630693.tlog/link.command.1.tlog
Source/EmployeeManagementTest/x64/Debug/Employee.44630693.tlog/link.read.1.tlog
Source/EmployeeManagementTest/x64/Debug/Employee.44630693.tlog/link.write.1.tlog
Source/EmployeeManagementTest/x64/Debug/EmployeeManagementTest.exe.recipe
Source/EmployeeManagementTest/x64/Debug/EmployeeManagementTest.log
Source/EmployeeManagementTest/x64/Debug/EmployeeManagementTest.pch
Source/EmployeeManagementTest/x64/Debug/EmployeeManagementTest.vcxproj.CopyComplete
Source/EmployeeManagementTest/x64/Debug/EmployeeManagementTest.vcxproj.FileListAbsolute.txt
Source/EmployeeManagementTest/x64/Debug/gmock-all.obj
Source/EmployeeManagementTest/x64/Debug/gtest-all.obj
Source/EmployeeManagementTest/x64/Debug/pch.obj
Source/EmployeeManagementTest/x64/Debug/test.obj
Source/EmployeeManagementTest/x64/Debug/vc142.pdb
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/.signature.p7s
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1028/googletest.propertiesui.xml
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1029/googletest.propertiesui.xml
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1031/googletest.propertiesui.xml
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1033/googletest.propertiesui.xml
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1034/googletest.propertiesui.xml
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1036/googletest.propertiesui.xml
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1040/googletest.propertiesui.xml
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1041/googletest.propertiesui.xml
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1042/googletest.propertiesui.xml
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1045/googletest.propertiesui.xml
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1046/googletest.propertiesui.xml
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1049/googletest.propertiesui.xml
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/1055/googletest.propertiesui.xml
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/2052/googletest.propertiesui.xml
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest-death-test.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest-message.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest-param-test.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest-param-test.h.pump
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest-printers.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest-spi.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest-test-part.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest-typed-test.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest_pred_impl.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/gtest_prod.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/custom/gtest-port.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/custom/gtest-printers.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/custom/gtest.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/custom/README.md
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-death-test-internal.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-filepath.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-internal.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-linked_ptr.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-param-util-generated.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-param-util-generated.h.pump
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-param-util.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-port-arch.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-port.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-string.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-tuple.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-tuple.h.pump
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-type-util.h
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/include/gtest/internal/gtest-type-util.h.pump
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/build/native/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.targets
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest.pdb
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest_main.pdb
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest_maind.lib
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtestd.lib
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest.lib
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest.pdb
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest_main.lib
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest_main.pdb
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest.pdb
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest_main.pdb
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest_maind.lib
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtestd.lib
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest.lib
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest.pdb
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest_main.lib
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest_main.pdb
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/license (MIT).txt
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4.nupkg
Source/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/ThirdPartyNotices.txt
Source/UserInterfaceTest/x64/Debug/pch.obj
Source/UserInterfaceTest/x64/Debug/test.obj
Source/UserInterfaceTest/x64/Debug/UserInte.3e01aeeb.tlog/CL.command.1.tlog
Source/UserInterfaceTest/x64/Debug/UserInte.3e01aeeb.tlog/CL.read.1.tlog
Source/UserInterfaceTest/x64/Debug/UserInte.3e01aeeb.tlog/CL.write.1.tlog
Source/UserInterfaceTest/x64/Debug/UserInte.3e01aeeb.tlog/CopyLocal.read.1u.tlog
Source/UserInterfaceTest/x64/Debug/UserInte.3e01aeeb.tlog/CopyLocal.write.1u.tlog
Source/UserInterfaceTest/x64/Debug/UserInte.3e01aeeb.tlog/link.command.1.tlog
Source/UserInterfaceTest/x64/Debug/UserInte.3e01aeeb.tlog/link.read.1.tlog
Source/UserInterfaceTest/x64/Debug/UserInte.3e01aeeb.tlog/link.write.1.tlog
Source/UserInterfaceTest/x64/Debug/UserInte.3e01aeeb.tlog/UserInterfaceTest.lastbuildstate
Source/UserInterfaceTest/x64/Debug/UserInterfaceTest.Build.CppClean.log
Source/UserInterfaceTest/x64/Debug/UserInterfaceTest.exe.recipe
Source/UserInterfaceTest/x64/Debug/UserInterfaceTest.log
Source/UserInterfaceTest/x64/Debug/UserInterfaceTest.pch
Source/UserInterfaceTest/x64/Debug/UserInterfaceTest.vcxproj.CopyComplete
Source/UserInterfaceTest/x64/Debug/UserInterfaceTest.vcxproj.FileListAbsolute.txt
Source/UserInterfaceTest/x64/Debug/vc142.pdb
Source/x64/Debug/EmployeeManagement.exe
Source/x64/Debug/EmployeeManagement.pdb
Source/x64/Debug/EmployeeManagementTest.exe
Source/x64/Debug/EmployeeManagementTest.ilk
Source/x64/Debug/EmployeeManagementTest.pdb
Source/x64/Debug/gtest.pdb
Source/x64/Debug/gtest_main.pdb
Source/x64/Debug/UserInterfaceTest.exe
Source/x64/Debug/UserInterfaceTest.ilk
Source/x64/Debug/UserInterfaceTest.pdb
Source/EmployeeManagement/x64/Debug/Command.obj
